<a href="https://colab.research.google.com/github/slugmilk/Python/blob/main/7_%EC%BB%AC%EB%A0%89%EC%85%98_%ED%83%80%EC%9E%85_%EC%84%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 세트**
세트(set)는 중복되지 않은 항목들의 컬렉션입니다.

In [ ]:
s1 = {1, 3, 5, 7}
print(s1)
print(type(s1))

{1, 3, 5, 7}
<class 'set'>

In [ ]:
s2 = {}
print(s2)
print(type(s2)) # 데이터가 없으면 딕셔너리로 인식

{}
<class 'dict'>

In [ ]:
s3 = set([1, 3, 5, 7])
print(s3)
print(type(s3))

{1, 3, 5, 7}
<class 'set'>

In [ ]:
li1 = [1, 2, 3, 4]
print(type(li1))
s4 = set(li1)
print(type(s4))

<class 'list'>
<class 'set'>

In [ ]:
s5 = {1, 3, 5, 3, 7, 9, 1, 5, 10, 7}
print(s5) # 중복 데이터 제거됨

{1, 3, 5, 7, 9, 10}

In [ ]:
li2 = [1, 3, 5, 3, 7, 9, 1, 5, 10, 7]
s6 = set(li2)
s6

{1, 3, 5, 7, 9, 10}

# **2. 세트의 메서드**

### 2-1. add(): 세트의 요소를 추가

In [ ]:
s1 = {1, 3, 5, 7}
s1.add(2)
print(s1)
s1.add(4)
print(s1)
s1.add(3)
print(s1) # 운이 좋아 순서대로 들어간거지 인덱스가 없어 매번 이렇게 순서대로 들어가는 것은 아니다

{1, 2, 3, 5, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

### 2-2. update(): 세트에 여러 개의 요소 추가

In [ ]:
s1 = {1, 3, 5, 7}
s1.update([2, 4, 6, 8, 10]) # 리스트로 추가
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

### 2-3. remove(): 세트의 요소를 제거. 단 요소가 없으면 에러가 발생

In [ ]:
s1 = {1, 3, 5, 7}
s1.remove(3)
print(s1)
# s1.remove(4)
# KeyError: 4

{1, 5, 7}

### 2-4. discard(): 세트의 요소를 제거. 단 요소가 없어도 에러가 발새하지 않음

In [ ]:
s1 = {1, 3, 5, 7}
s1.discard(3)
print(s1)
s1.discard(4)
print(s1)

{1, 5, 7}
{1, 5, 7}

remove와 discard 구분돼있는 이유? - 쓰임따라 다름
있음 지우고 없음 말아라
있어서 지운건지 없어서 못지운건지 확인
remove()를 써도 에러 처리 구문을 통해 에러없이 사용할 수 있음

### 2-5. copy(): 세트를 복사

In [ ]:
s1 = {1, 3, 5, 7}
# s2 = s1
# 메모리 주소 같음
s2 = s1.copy() # 메모리 주소 다름
print(s1)
print(s2)
print(id(s1))
print(id(s2))

{1, 3, 5, 7}
{1, 3, 5, 7}
133746842319360
133746842320032

set -> 집합에서 유래 -> 집합 계산 O

### 2-6. union(): 합집합 계산

In [ ]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

result1 = s1.union(s2)
print(result1)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
result2 = s1 | s2 # 연산자로도 합집합 계산 가능
print(result2)

{70, 40, 10, 50, 20, 60, 30}

### 2-7. intersection(): 교집합 계산

In [ ]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

result1 = s1.intersection(s2)
print(result1)

{40, 50, 30}

In [ ]:
result2 = s1 & s2
print(result2)

{40, 50, 30}

### 2-8. difference(): 차집합 계산

In [ ]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

result1 = s1.difference(s2)
print(result1)

{10, 20}

In [ ]:
result2 = s1 - s2
print(result2)

{10, 20}

### 2-9. symmetric_difference: 대칭 차집합 계산

In [ ]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

result1 = s1.symmetric_difference(s2)
print(result1)

{20, 70, 10, 60}

In [ ]:
result2 = s1 ^ s2
print(result2)

{20, 70, 10, 60}

set은 순서가 없는 자료형이기 때문에 데이터를 순서대로 정렬하고 싶으면 리스트로 변환 후 sort, sorted를 사용

In [ ]:
result = list(result2)
result.sort()
result

[10, 20, 60, 70]